{% extends 'collect/base.html' %}

{% block content %}
<!-- Breadcomb area Start-->
<!--<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-windows"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>Data Table</h2>
										<p>Welcome to Notika <span class="bread-ntd">Admin Template</span></p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
								<div class="breadcomb-report">
									<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	 Breadcomb area End-->
    <!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h2>Lieferübersicht</h2>
                            <p>Übersicht über alle Transporte</p>
                        </div>
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Datum</th>
                                        <th>Abgeber</th>
                                        <th></th>
                                        <th>Aufnehmer</th>
                                        <th>Menge</th>
                                        <th>Art</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                            {% for data in lieferlist %}
                                    <tr>
                                        <td><a href="/pdf/{{ data.id}}">PDF</a> | {{ data.datum_von }}</td>
                                        <td>{{ data.id_abgeber.vorname}} {{ data.id_abgeber.nachname}} </td>
                                        <td><i class="notika-icon notika-right-arrow"></i></td>
                                        <td>{{ data.id_aufnehmer.vorname}} {{ data.id_aufnehmer.nachname}}</td>
                                        <td>{{ data.menge }} m³/to</td>
                                        <td>{{data.id_produkt}}</td>
                                        <td></td>
                                    </tr>
                            {% endfor %}   
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Datum</th>
                                        <th>Abgeber</th>
                                        <th></th>
                                        <th>Aufnehmer</th>
                                        <th>Menge</th>
                                        <th>Art</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table area End-->


{% endblock %}
notika-arrow-right