{% extends 'collect/base.html' %}

{% block content %}
    <!-- Form Element area Start-->
    <!-- Datepicker area Start-->
    <div class="datepicker-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="datepicker-int mg-t-30">
                            <div class="cmp-tb-hd">
                                <h2>Django Testpage</h2>
                                <p>Form Test</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group nk-datapk-ctm form-elet-mg" id="data_1">
                                        <label>Simple data input format</label>
                                        <h2>Django Testpage</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group nk-datapk-ctm form-elet-mg" id="data_1">
                                                <h2>Django Testpage</h2>   

                                                <h2>New post</h2>
                                                <form method="POST" class="post-form">{% csrf_token %}
                                                    <div class="nk-int-st">
                                                            {{fahrerform.vorname}}
                                                    </div>
                                                    <div class="nk-int-st">
                                                            {{fahrerform.nachname}}
                                                    </div>
                                                    <button type="submit" class="save btn btn-default">Save</button>
                                                </form>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Datepicker area End-->
    </div>
    
    {% endblock %}